@function shadow($color) {
    @return 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px $color,
    0 0 82px $color,
    0 0 92px $color,
    0 0 102px $color,
    0 0 151px $color;
}

$headings: (h1: 3.5em,
    h2: 2.2em,
    h3: 1.4em,
    h4: 0.7em,
    p: 1.1em);
$colors: (colorA: #000000,
    colorB: #042e46,
    colorC: #0066FF,
    colorD: #247F4E,
    colorE: #7b2a6f,
    colorF: #151d2e,
    colorG: #315c63);
$font-tittle: 'Montserrat';
$font-subtittle: 'Allison';
$font-paragraph: 'Heebo';
$textcolor: #d9d9d9;