@import url("https://fonts.googleapis.com/css2?family=Allison&family=Heebo:wght@100;300;400&family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
}

#videoBG {
  position: absolute;
  margin-top: -15%;
  width: 100%;
  z-index: -10;
}

@media screen and (max-width: 768px) {
  #videoBG {
    margin-top: 0;
  }
}

.text__form {
  margin-top: 280px;
  font-size: 2.2em;
  color: #0066FF;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0066FF, 0 0 82px #0066FF, 0 0 92px #0066FF, 0 0 102px #0066FF, 0 0 151px #0066FF;
  text-align: center;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .text__form {
    margin-top: 200px;
  }
}

.form__area {
  margin-top: 25px;
  z-index: 15;
  margin-left: 50%;
  margin-right: 50%;
}

.form__area .form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__area .form__container label {
  width: 180px;
  text-align: center;
  color: #d9d9d9;
  font-size: 1.1em;
}

.form__area .form__container input, .form__area .form__container textarea {
  background-color: #d9d9d9;
  opacity: 0.5;
  outline: none;
}

.form__area .form__container input:focus, .form__area .form__container textarea:focus {
  border: 3px solid #0066FF;
  border-radius: 7px;
  opacity: 0.7;
  color: #fff;
}

.form__area .form__container .btn {
  background-color: #d9d9d9;
  margin-top: 20px;
  border: none;
}

.form__area .form__container .btn:active {
  background-color: #0066FF;
  border-radius: 5px;
  scale: 1.05;
}

#email {
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fullpage {
  position: relative;
  height: 100vh;
  width: auto;
  background-color: #000000;
}

.fullpage .fullpage__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
}

.fullpage .fullpage__container h1 {
  font-size: 3.5em;
  font-family: "Montserrat";
  letter-spacing: 7px;
  font-weight: 250;
  color: #d9d9d9;
}

.fullpage .fullpage__container .container__tittle--neon {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0066FF, 0 0 82px #0066FF, 0 0 92px #0066FF, 0 0 102px #0066FF, 0 0 151px #0066FF;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    margin: -25px;
  }
  to {
    opacity: 1;
    margin: 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    margin: -25px;
  }
  to {
    opacity: 1;
    margin: 0;
  }
}

.fullpage .fullpage__container h3 {
  font-size: 1.4em;
  font-family: "Montserrat";
  color: #d9d9d9;
  padding: 25px;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: subTitle;
          animation-name: subTitle;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes subTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes subTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullpage .fullpage__container .container__btn {
  display: block;
  width: 80px;
  height: 80px;
}

.fullpage .fullpage__container .container__btn svg {
  width: 100%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: btnAnimation;
          animation-name: btnAnimation;
  opacity: 0;
}

@-webkit-keyframes btnAnimation {
  from {
    height: 120px;
    opacity: 0;
  }
  to {
    height: 180px;
    opacity: 1;
  }
}

@keyframes btnAnimation {
  from {
    height: 120px;
    opacity: 0;
  }
  to {
    height: 180px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .fullpage {
    width: auto;
  }
  .fullpage .fullpage__container h1 {
    font-size: 2.2em;
  }
  .fullpage .fullpage__container h3 {
    font-size: 1.1em;
  }
}

.sobremi__area {
  position: relative;
  height: auto;
  background-color: #000000;
}

.sobremi__area .sobremi__container h2 {
  text-align: center;
  padding-top: 35px;
  color: #0066FF;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0066FF, 0 0 82px #0066FF, 0 0 92px #0066FF, 0 0 102px #0066FF, 0 0 151px #0066FF;
  font-size: 2.2em;
  font-family: "Montserrat";
}

.sobremi__area .sobremi__container .sobremi__text {
  width: auto;
}

.sobremi__area .sobremi__container .sobremi__text h3 {
  color: #d9d9d9;
  font-size: 1.4em;
  font-family: "Heebo";
  padding-top: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.sobremi__area .sobremi__container .sobremi__text .text__box {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sobremi__area .sobremi__container .sobremi__text .text__box p {
  font-size: 1.1em;
  font-family: "Heebo";
  color: #d9d9d9;
  margin-top: 9%;
  margin-right: 200px;
  padding: 15px;
  width: 570px;
  height: auto;
  background-color: #0066FF;
  border-radius: 25px;
  float: right;
}

.sobremi__area .sobremi__container .sobremi__text .text__box img {
  width: 320px;
  height: 320px;
  border: 6px solid #0066FF;
  border-radius: 160px;
}

.sobremi__area .sobremi__container .sobremi__text .text__box .sobremi__img {
  float: left;
  margin: 80px;
  margin-left: 100px;
}

@media screen and (max-width: 1274px) {
  .sobremi__area {
    height: auto;
  }
  .sobremi__area .sobremi__container .sobremi__text h3 {
    font-size: 1.4em;
  }
  .sobremi__area .sobremi__container .sobremi__text .text__box p {
    width: 70%;
    float: none;
    margin: 25px auto;
  }
  .sobremi__area .sobremi__container .sobremi__text .text__box .sobremi__img {
    display: block;
    width: 240px;
    height: 240px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.service__area {
  background-color: #000000;
  position: relative;
  padding: 20px;
  height: auto;
}

.service__area .service__text {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.service__area .service__text h2 {
  text-align: center;
  color: #7b2a6f;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #7b2a6f, 0 0 82px #7b2a6f, 0 0 92px #7b2a6f, 0 0 102px #7b2a6f, 0 0 151px #7b2a6f;
  font-size: 2.2em;
  font-family: "Montserrat";
}

.service__area .service__text p {
  text-align: center;
  padding: 15px;
  color: #d9d9d9;
  font-size: 1.4em;
  font-family: "Heebo";
}

.service__area .service__element {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.service__area .service__element .service__element--item {
  background-color: #7b2a6f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 45px;
  padding: 23px;
  margin: 5sspx;
}

.service__area .service__element .service__element--item .item__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 345px;
  text-align: center;
}

.service__area .service__element .service__element--item .item__box h3 {
  color: black;
  border-bottom: 1px solid black;
  font-size: 1.4em;
  padding-top: 15px;
}

.service__area .service__element .service__element--item .item__box p {
  color: black;
  font-size: 1.1em;
}

@media screen and (max-width: 768px) {
  .service__area {
    padding: auto;
  }
  .service__area .service__text {
    width: 85%;
  }
  .service__area .service__text p {
    padding: 0;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
  }
  .service__area .service__element {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .service__area .service__element .service__element--item {
    margin-bottom: 25px;
  }
}

.skill__area {
  background-color: #000000;
  height: auto;
  width: 100%;
}

.skill__area .skill__text {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.skill__area .skill__text h2 {
  width: auto;
  text-align: center;
  font-size: 2.2em;
  font-family: "Montserrat";
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #247F4E, 0 0 82px #247F4E, 0 0 92px #247F4E, 0 0 102px #247F4E, 0 0 151px #247F4E;
  color: #247F4E;
}

.skill__area .skill__text p {
  font-size: 1.1em;
  font-family: "Heebo";
  color: #d9d9d9;
  padding-top: 20px;
}

.skill__grid {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (160px)[5];
      grid-template-columns: repeat(5, 160px);
  grid-column-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) {
  .skill__grid {
    -ms-grid-columns: (160px)[3];
        grid-template-columns: repeat(3, 160px);
  }
}

@media screen and (max-width: 648px) {
  .skill__grid {
    -ms-grid-columns: (160px)[2];
        grid-template-columns: repeat(2, 160px);
  }
}

.skill__grid .skill__grid--item:hover {
  -webkit-animation-name: iconscale;
          animation-name: iconscale;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes iconscale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes iconscale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
/*# sourceMappingURL=estilos.css.map */